<html>
<h1>I have become sentient</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
    <th>Longitude</th>
    <th>Latitude</th>
  </tr>
</table>

<head>
  <meta charset=utf-8 />
  <title>A simple map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />

  <div id='map' style='width: 800px; height: 800px;'></div>
  <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoidHlsZXJtYXBib3giLCJhIjoiY2o1YTFpYjRsMDJqeDMybW00YmxwbzB2cyJ9.cS-gCCvQUhI6oh1DQeI-zw';
      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/light-v9'
      });

      var url = 'https://wanderdrone.appspot.com/';
      map.on('load', function () {
          window.setInterval(function() {
              map.getSource('drone').setData(url);
          }, 2000);

          map.addSource('drone', { type: 'geojson', data: url });
          map.addLayer({
              "id": "drone",
              "type": "symbol",
              "source": "drone",
              "layout": {
                  "icon-image": "rocket-15"
              }
          });
      });
  </script>


  </body>
</html>
